body
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

a:link {text-decoration: none;}
  
a:visited {text-decoration: none;}
  
a:hover {text-decoration: underline;}
  
a:active {text-decoration: underline;}

iframe
{
    width: 50%;
}

strong
{
    color: red;
}

table
{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th 
{
    border: 1px solid #ddd;
    padding: 8px;
}
  
tr:nth-child(even){background-color: #f2f2f2;}
  
tr:hover {background-color: #ddd;}
  
th 
{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.bsChrome {
    background-image: url(../assets/compatible_chrome.gif);
    background-repeat: no-repeat;
}

.bsEdge {
    background-image: url(../assets/compatible_edge.png);
    background-repeat: no-repeat;
}

.bsFirefox {
    background-image: url(../assets/compatible_firefox.png);
    background-repeat: no-repeat;
}

table.browserref .bsSafari {
    background-image: url(../assets/compatible_safari.gif);
    background-repeat: no-repeat;
}

.bsOpera {
    background-image: url(../assets/compatible_opera.gif);
    background-repeat: no-repeat;
}